.color-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px; /* Ajusta la altura según sea necesario */
}

.color {
  width: 250px; /* Ajusta el ancho según sea necesario */
  height: 250px; /* Ajusta la altura según sea necesario */
  margin: 10px; /* Ajusta el margen según sea necesario */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.yellow {
  background-color: yellow;
  width: 250px;
  height: 150px;
  margin: 5px
}

.blue {
  background-color: blue;
  width: 180px;
  height: 100px;
  margin: 5px;
}

.red {
  background-color: red;
  width: 130px;
  height: 65px;
  margin: 5px;
  font-size: 11px;
}
